@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#myForm{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
input{
    height: 30px;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}
button{
    height: 30px;
    width: 90px;
}
input:hover{
    background-color: rgba(0, 0, 255, 0.233);
}